.base-carregando-login{
    position: relative;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    background-color: rgba(79, 79, 79, .5);
}
.cor-body{
    background-color: rgba(255, 255, 255, 0.719);
}
.loop{
    position: relative;
    left: 47%;
    top: 40%;
}
.base-carregando{
    position: relative;
    left: 14%;
    width: 86%;
    height: 100%;
    display: none;
    background-color: rgba(79, 79, 79, .5);
}
.telaLogin{
    position: fixed;
    width: 20%;
    margin-top: 9%;
    left: 40%;
    box-shadow: 1px 5px 30px rgb(131, 111, 255);
    padding: 1%;
    border-radius: 2%;
    background-color: white;
}
.iconeLogin{
    width: 100%;
    height: 100%;
    margin-bottom: 0%;
}
body{
    background-color: rgb(243, 243, 243);
}

.fundo1{
    position: fixed;
    top: 0%;
    width: 100%;
    height: 30%;
    background-color: #800000;
}

.width-100{
    width: 100%;
}

.height-100{
    height: 100%;
}

.cor-letra{
    color: red;   
    text-decoration: none;
}

.letra-promocao{
    position: absolute;
    margin-top: 5px;
    margin-left: 1%;
    color: rgb(7, 151, 2);
}

.cor-titulo{
    color: grey;
}

.letra-tamanho-130{
    font-size: 150%;
    margin-bottom: 0;
}

.letra-tamanho-80{
    font-size: 80%;
}

.letra-riscado{
    text-decoration: line-through;
}

.cor-letra-cinza{
    color: grey;
}

.cor-letra-promocao{
    color: rgb(7, 151, 2);
}

.cor-letra-titulo{
    color: #800000;
}

.cor-letra-laranja{
    color: darkorange;
}

.cor-letra-vermelho{
    color: red;
}

.cor-letra-ouro{
    color: goldenrod;
}

.cor-letra-prata{
    color: rgb(161, 159, 159);
}

.cor-letra-bronze{
    color: rgb(173, 75, 4);
}

.cor-letra-preto{
    color: black;
}

.linha-vertical {
    height: 100px;/*Altura da linha*/
    border-left: 2px solid;/* Adiciona borda esquerda na div como ser fosse uma linha.*/
  }

.valores{
    margin-top: 10%;
}

.div-botao-comprar{
    margin-top: 12%;
}

.espaco-2{
    margin-top: 2%;
}

.imagem-nav{
    width: 100%;
    height: 30%;
    border-radius: 15%;
}
.conteudo-pagina{
    position: fixed;
    left: 15%;
    width: 85%;
    height: 100%;
    top: 0;
}
.criarConta{
    margin-top: 5%;
    margin-bottom: -5%;
    text-align: center;
    text-decoration: none;
    color: #cc0033;
}
.centralizador-formulario{
    flex: 1 1 auto;
    padding: 1rem 1rem;
}
.formularioCadastroPn{
    position: absolute;
    width: 60%;
    margin-top: 5%;
    left: 20%;
    box-shadow: 1px 5px 30px rgb(131, 111, 255);
    padding: 2%;
    background-color: white;
    border-radius: 2%;
}
.logo{
    height: 7em !important;
    font-size: 2vw;
    color: grey;
    text-decoration: none;
}
.img{
    width: 13%;
    height: -1%;
}
a{
    font-size: 1em;
}
form{
    position: relative;
}
#oculto{
    display: none;
}

.info-pagamento{
    width: 50% !important;
}

/*ACESSO PAGINA SISTEMA/INDEX*/
.logo-sistema{
    position: absolute;
}

.bg-vermelho{
    background-color: #800000 !important;
}

.bg-index{
    background-color: #eeecec;
}

.color-vermelho{
    color: #800000;
}

.active{
    color: #D7DF01 !important;
}

.cor-cinza{
    color: #FFD700;
}

.cor-branco{
    color: white !important;
}

.card-titulo{
    color: #800000;
}

.card-text-tipo{
    size: 5px;
}

.card-font-valor{
    color:  #161616;
    font-size: 18px;;
}

.card-font-valor-desconto{
    color: rgb(78, 77, 77);
    font-size: 10px;
    top: 0%;
    margin-bottom: 0%;
}

.card-font-promocao{
    position: relative;
    margin-top: -10%;
    margin-left: 30%;
    color: rgb(7, 151, 2);
    font-size: 14px;
}

.tamanho-imagem-card{
    height: 235px;
    width: 420px;
}

.fa-angle-right{
    margin-left: 50%;
}

.fa-angle-left{
    margin-left: -2000%;
}

.scrollspySite{
    overflow: auto;
    height: 200px;
}

@media only screen and (max-width : 1000px){
    /*ALTERACOES TELA DE LOGIN */
    .telaLogin{
        position: relative;
        width: 80%;
        margin-top: 5%;
        left: 10%;
        box-shadow: 1px 5px 30px rgb(131, 111, 255);
        padding: 4%;
        border-radius: 2%;
        background-color: white;
        height: 80%;
    }

    .iconeLogin{
        width: 100%;
        height: 50%;
    }

    /*ALTERACOES DA TELA DE CADASTRO DO PARCEIRO DE NEGOCIO*/
    .formularioCadastroPn{
        position: relative;
        width: 90%;
        margin-top: 5%;
        left: 5%;
        box-shadow: 1px 5px 30px rgb(131, 111, 255);
        padding: 2%;
        background-color: white;
        border-radius: 2%;
    }
    
    body{
        font-size: 2vw;
    }
    
    .logoff{
        display: none;
    }

    .div-botao-comprar{
        margin-top: 10%;
        
    }
}


